* {
  font-family: "Poppins", sans-serif;
  margin: 0pt;
}

.contador-container {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.w3schools.com/w3css/img_lights.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-glassmorphism {
  padding: 30px 40px 30px 20px;
  width: 400px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /*Glassmorphism*/
  background: rgba(160, 154, 179, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(127, 114, 170, 0.31);
}

.input-container {
  width: 221px;
  height: 67px;
  position: relative;
}

.label {
  position: absolute;
  left: 10px;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  color: #b3b3b3;
}

.text-input {
  padding: 0.8rem;
  width: 100%;

  border: 2px solid #3ebcb5;
  background-color: #0d3b3f;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  color: #fff;
}

.label::before {
  content: "";
  height: 5px;
  background-color: #272530;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -5;
}

.text-input:focus {
  border: 2px solid #3ebcb5;
}

.text-input:focus + .label {
  top: -10px;
  color: #3ebcb5;
  font-size: 14px;
}

.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.text-input:focus::placeholder {
  opacity: 1;
}

.contador-text {
  color: #fffefe;
}

.contador-text h2 {
  font-weight: 200;
  font-size: 20px;
  padding-left: 30px;
}

.contador-text h2 span {
  font-weight: 500;
  color: white;
  font-size: 25px;
}
